:root {
  --size-content-width: 1280px;
  --color-background-default: var(--colors-slate2);
  --color-text-default: var(--colors-slate12);

  --colors-gray1: #161616;
  --colors-gray1-rgb: 22, 22, 22;
  --colors-gray2: #1c1c1c;
  --colors-gray2-rgb: 28, 28, 28;
  --colors-gray3: #232323;
  --colors-gray3-rgb: 35, 35, 35;
  --colors-gray4: #282828;
  --colors-gray4-rgb: 40, 40, 40;
  --colors-gray5: #2e2e2e;
  --colors-gray5-rgb: 46, 46, 46;
  --colors-gray6: #343434;
  --colors-gray6-rgb: 52, 52, 52;
  --colors-gray7: #3e3e3e;
  --colors-gray7-rgb: 62, 62, 62;
  --colors-gray8: #505050;
  --colors-gray8-rgb: 80, 80, 80;
  --colors-gray9: #707070;
  --colors-gray9-rgb: 112, 112, 112;
  --colors-gray10: #7e7e7e;
  --colors-gray10-rgb: 126, 126, 126;
  --colors-gray11: #a0a0a0;
  --colors-gray11-rgb: 160, 160, 160;
  --colors-gray12: #ededed;
  --colors-gray12-rgb: 237, 237, 237;

  --colors-slate1: #fbfcfd;
  --colors-slate1-rgb: 251, 252, 253;
  --colors-slate2: #f8f9fa;
  --colors-slate2-rgb: 248, 249, 250;
  --colors-slate3: #f1f3f5;
  --colors-slate3-rgb: 241, 243, 245;
  --colors-slate4: #eceef0;
  --colors-slate4-rgb: 236, 238, 240;
  --colors-slate5: #e6e8eb;
  --colors-slate5-rgb: 230, 232, 235;
  --colors-slate6: #dfe3e6;
  --colors-slate6-rgb: 223, 227, 230;
  --colors-slate7: #d7dbdf;
  --colors-slate7-rgb: 215, 219, 223;
  --colors-slate8: #c1c8cd;
  --colors-slate8-rgb: 193, 200, 205;
  --colors-slate9: #889096;
  --colors-slate9-rgb: 136, 144, 150;
  --colors-slate10: #7e868c;
  --colors-slate10-rgb: 126, 134, 140;
  --colors-slate11: #687076;
  --colors-slate11-rgb: 104, 112, 118;
  --colors-slate12: #11181c;
  --colors-slate12-rgb: 17, 24, 28;
}

[data-theme='dark'] {
  --color-background-default: var(--colors-gray2);
  --color-text-default: var(--colors-gray12);
}
