:root {
  --max-width: 600px;

  --color-background-default: rgba(255, 255, 255, 1);
  --color-text-default: var(--colors-slate12);
}

/* [data-theme='dark'] {
  --color-background-default: var(--colors-gray2);
  --color-text-default: var(--colors-gray12);
} */
