.container {
  h1 {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.1px;
  }

  .form-container {
    margin: 50px 0 0 0;
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    .input-container {
      display: flex;
      flex-direction: column;
      row-gap: 8px;

      label {
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: 0.2px;
        cursor: default;
      }

      .input-wrapper {
        display: flex;
        flex-direction: row;
        column-gap: 8px;

        input {
          flex: 1;
          border: 1px solid #c4c4c4;
          padding: 10px 8px;
          font-size: 14px;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 0.1px;
          outline: none;

          &.tel {
            text-align: center;
          }
        }
      }
    }
  }

  .submit-btn {
    margin: 50px 0 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 19px 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.1px;

    &:disabled {
      background: #d3d4d9;
      cursor: default;
    }
  }
}
