.nav-bar {
  position: fixed;
  top: 0;
  width: 100vw;
  min-width: 360px;
  border-bottom: 1px solid var(--transparent2);
  z-index: 1000;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 12px 16px;
  background: var(--primary1);
}
.icon-wrap {
  width: 32px;
  height: 32px;
  padding: 4px;
  background: var(--transparent2);
  border-radius: 50%;
}
