.header {
  display: flex;
  flex-direction: column;
  row-gap: 4px;

  .title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
  }

  .sub-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
}
