.container {
  min-width: 360px;
  background: var(--gray1);
  text-align: center;
}
.text_wrap > h2 {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: var(--gray7);
}
.text_wrap > p {
  margin-bottom: 60px;
  font-size: 14px;
  line-height: 22px;
  /* font-weight: 400; */
  color: var(--gray6);
}
.text_wrap > p > b {
  margin-bottom: 60px;
  font-weight: 700;
}
.card_wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  width: 624px;
  margin: 0 auto;
}

.text_wrap {
  .title {
    transition: all cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
    transition-delay: 0.2s;
    opacity: 0;
    transform: translateY(100%);
  }

  .desc {
    transition: all cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
    transition-delay: 0.2s;
    opacity: 0;
    transform: translateY(100%);
  }

  &.active {
    .title {
      transition: all cubic-bezier(0.645, 0.045, 0.355, 1) 0.8s;
      transition-delay: 0.2s;
      opacity: 1;
      transform: translateY(0%);
    }

    .desc {
      transition: all cubic-bezier(0.645, 0.045, 0.355, 1) 0.8s;
      transition-delay: 1s;
      opacity: 1;
      transform: translateY(0%);
    }
  }
}

/* Pc */
@media (min-width: 1025px) {
  .container {
    padding: 112px 16px;
  }
}

/* Mobile */
@media (max-width: 1024px) {
  .container {
    padding: 112px 32px;
    /* padding-top: 112px; */
  }
  .text_wrap {
    width: 296px;
    margin: 0 auto;
  }
  .text_wrap > h2,
  .text_wrap > p {
    text-align: left;
  }
  .card_wrap {
    width: 296px;
    align-items: center;
    /* margin: 0 auto; */
  }
}

@keyframes title {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
