@import './base/variable.css';
@import './base/reset.css';

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--color-background-default);
  color: var(--color-text-default);
}

body * {
  font-family: var(--pretendard), -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
