.container {
  width: 100%;

  flex: 1;
  display: flex;
  flex-direction: column;

  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;

    .auth-page-layout {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: center;
      row-gap: 32px;
      width: 100%;

      max-width: var(--max-width);
      margin: 0 auto;
      padding: 0 20px;
    }
  }
}
