.container {
  min-width: 360px;
  background: var(--primary1);
  padding: 56px 0;
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
}

.line {
  margin-right: 8px;
}
.illust_wrap {
  margin: 0 auto 40px;
}
.content_wrap > h1 {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
}
.content_wrap > h2 {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.02em;
  color: var(--transparent6);
  font-weight: 400;
}
.illust_group_1,
.illust_group_2 {
  display: grid;
  gap: 12px;
}
.illust_group_1 {
  grid-template-columns: 172px 76px;
}
.illust_group_1 > img:first-of-type {
  grid-row: 1 / 3;
}
.illust_group_2 {
  grid-template-columns: 76px 172px;
}
.illust_group_2 > img:first-of-type {
  grid-column: 1 / 3;
}
.content_wrap > p {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: var(--gray7);
}

.content_wrap {
  margin: 0 auto;

  & * {
    animation: none;
  }

  .images {
    transition: all cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
    transition-delay: 0.2s;
    opacity: 0;
    transform: translateY(100%);

    .image_01 {
      opacity: 0;
      transform: translateY(100%);
      transition: all cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
      transition-delay: 0.2s;
    }

    .image_02 {
      opacity: 0;
      transform: translateY(100%);
      transition: all cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
      transition-delay: 0.2s;
    }
    .image_03 {
      opacity: 0;
      transform: translateY(100%);
      transition: all cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
      transition-delay: 0.2s;
    }
    .image_04 {
      opacity: 0;
      transform: translateY(100%);
      transition: all cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
      transition-delay: 0.2s;
    }
    .image_05 {
      opacity: 0;
      transform: translateY(100%);
      transition: all cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
      transition-delay: 0.2s;
    }
    .image_06 {
      opacity: 0;
      transform: translateY(100%);
      transition: all cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
      transition-delay: 0.2s;
    }
  }

  .title {
    opacity: 0;
    transform: translateY(100%);
    transition: all cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
    transition-delay: 0.2s;
  }

  .subtitle {
    opacity: 0;
    transform: translateY(100%);
    transition: all cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
    transition-delay: 0.2s;
  }

  .description {
    opacity: 0;
    transform: translateY(100%);
    transition: all cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
    transition-delay: 0.2s;
  }

  &.active {
    .images {
      opacity: 1;
      transform: translateY(0%);
      transition-delay: 0.2s;

      .image_01 {
        opacity: 1;
        transform: translateY(0%);
        transition: all cubic-bezier(0.645, 0.045, 0.355, 1) 0.8s;
        transition-delay: 0.4s;
      }
      .image_02 {
        opacity: 1;
        transform: translateY(0%);
        transition: all cubic-bezier(0.645, 0.045, 0.355, 1) 0.8s;
        transition-delay: 1.4s;
      }
      .image_03 {
        opacity: 1;
        transform: translateY(0%);
        transition: all cubic-bezier(0.645, 0.045, 0.355, 1) 0.8s;
        transition-delay: 0.6s;
      }
      .image_04 {
        opacity: 1;
        transform: translateY(0%);
        transition: all cubic-bezier(0.645, 0.045, 0.355, 1) 0.8s;
        transition-delay: 1s;
      }
      .image_05 {
        opacity: 1;
        transform: translateY(0%);
        transition: all cubic-bezier(0.645, 0.045, 0.355, 1) 0.8s;
        transition-delay: 0.8s;
      }
      .image_06 {
        opacity: 1;
        transform: translateY(0%);
        transition: all cubic-bezier(0.645, 0.045, 0.355, 1) 0.8s;
        transition-delay: 1.2s;
      }
    }

    .title {
      opacity: 1;
      transform: translateY(0%);
      transition: all cubic-bezier(0.645, 0.045, 0.355, 1) 0.8s;
      transition-delay: 0.2s;
    }

    .subtitle {
      opacity: 1;
      transform: translateY(0%);
      transition: all cubic-bezier(0.645, 0.045, 0.355, 1) 0.8s;
      transition-delay: 1s;
    }

    .description {
      opacity: 1;
      transform: translateY(0%);
      transition: all cubic-bezier(0.645, 0.045, 0.355, 1) 0.8s;
      transition-delay: 1.6s;
    }
  }
}

/* Pc */
@media (min-width: 1025px) {
  .illust_wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    width: 532px;
  }
}

/* Mobile */
@media (max-width: 1024px) {
  .content_wrap {
    width: 360px;
  }
  .illust_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
}

@keyframes title {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
