.fullpage {
  &.s1 {
    background-color: var(--primary1);
  }

  &.s2 {
    background-color: var(--primary4);

    .illust-wrapper {
      position: relative;
      max-width: var(--max-width);
      width: 100%;
      margin: auto;

      .illust {
        position: absolute;
        display: flex;
        width: 100%;
        justify-content: flex-end;

        bottom: 0;
      }
    }
  }

  &.s4 {
    background-color: var(--secondary4);
  }
}
