@charset "utf-8";

html {
  height: 100%;
  font-size: 10px;
  line-height: 10px;
  -webkit-font-smoothing: antialiased;
}

body {
  position: relative;
  height: 100%;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}

body,
input,
textarea,
select,
table,
button,
code {
  font-size: 1.6rem;
  line-height: 2rem;
  -webkit-border-radius: 0;
  -webkit-appearance: auto;
  background-color: white;
  color: black;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
fieldset {
  border: 0;
}

img {
  vertical-align: top;
}

svg {
  display: inline-block;
}

label,
button {
  cursor: pointer;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  color: #000;
  /* -webkit-tap-highlight-color: transparent; */
}

em,
address {
  font-style: normal;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.u_skip {
  overflow: hidden;
  position: absolute;
  left: -1000em;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

textarea,
input:matches(
    [type='email'],
    [type='number'],
    [type='password'],
    [type='search'],
    [type='tel'],
    [type='text'],
    [type='url']
  ) {
  appearance: none;
  -webkit-appearance: none;
}

input[type='search']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type='search']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}
